
*.targets
src/Student-Enroll-REAL/obj/Student-Enroll-REAL.csproj.nuget.g.props
src/Student-Enroll-REAL/obj/Student-Enroll-REAL.csproj.nuget.dgspec.json
src/Student-Enroll-REAL/obj/project.nuget.cache
src/Student-Enroll-REAL/obj/project.assets.json
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL_MarkupCompile.lref
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL_MarkupCompile.i.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL_MarkupCompile.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.pdb
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.genruntimeconfig.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.g.resources
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.dll
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.csprojAssemblyReference.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.csproj.FileListAbsolute.txt
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.csproj.CoreCompileInputs.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.csproj.CopyComplete
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.assets.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.AssemblyInfoInputs.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.AssemblyInfo.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Statistic.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Statistic.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Statistic.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoringDatagrid.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoringDatagrid.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoringDatagrid.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoreEntering.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoreEntering.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoreEntering.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Result.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Result.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Result.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/RegisterEditing.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/RegisterEditing.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/RegisterEditing.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Register.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Register.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Register.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/MainWindow.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/MainWindow.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/DevForm.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/DevForm.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/DevForm.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CrucialMarkSetter.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CrucialMarkSetter.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CrucialMarkSetter.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateListDatagrid.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateListDatagrid.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateListDatagrid.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateList.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateList.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateList.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/apphost.exe
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/App.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/App.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/AnnouncePrint.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/AnnouncePrint.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/AnnouncePrint.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL_MarkupCompile.i.lref
