
*.targets
src/Student-Enroll-REAL/bin/
src/Student-Enroll-REAL/.vs/
src/Student-Enroll-REAL/.vscode/
src/Student-Enroll-REAL/obj/
src/Student-Enroll-REAL/obj/Student-Enroll-REAL.csproj.nuget.g.props
src/Student-Enroll-REAL/obj/Student-Enroll-REAL.csproj.nuget.dgspec.json
src/Student-Enroll-REAL/obj/project.nuget.cache
src/Student-Enroll-REAL/obj/project.assets.json
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL_MarkupCompile.lref
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL_MarkupCompile.i.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL_MarkupCompile.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.pdb
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.genruntimeconfig.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.g.resources
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.dll
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.csprojAssemblyReference.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.csproj.FileListAbsolute.txt
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.csproj.CoreCompileInputs.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.csproj.CopyComplete
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.assets.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.AssemblyInfoInputs.cache
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL.AssemblyInfo.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Statistic.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Statistic.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Statistic.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoringDatagrid.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoringDatagrid.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoringDatagrid.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoreEntering.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoreEntering.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/ScoreEntering.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Result.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Result.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Result.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/RegisterEditing.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/RegisterEditing.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/RegisterEditing.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Register.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Register.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Register.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/MainWindow.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/MainWindow.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/MainWindow.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/DevForm.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/DevForm.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/DevForm.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CrucialMarkSetter.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CrucialMarkSetter.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CrucialMarkSetter.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateListDatagrid.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateListDatagrid.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateListDatagrid.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateList.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateList.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/CandidateList.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/apphost.exe
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/App.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/App.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/AnnouncePrint.g.i.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/AnnouncePrint.g.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/AnnouncePrint.baml
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/.NETCoreApp,Version=v3.1.AssemblyAttributes.cs
src/Student-Enroll-REAL/obj/Debug/netcoreapp3.1/Student-Enroll-REAL_MarkupCompile.i.lref
src/student-enrolment-system/obj/student-enrolment-system.csproj.nuget.dgspec.json
src/student-enrolment-system/obj/project.nuget.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.lref
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_Content.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.pdb
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.g.resources
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.csprojAssemblyReference.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.csproj.FileListAbsolute.txt
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.csproj.CoreCompileInputs.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.assets.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/ref/student-enrolment-system.dll
src/student-enrolment-system/obj/Debug/net5.0-windows/MainWindow.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/MainWindow.baml
src/student-enrolment-system/obj/Debug/net5.0-windows/App.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/App.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/MainWindow.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.assets.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.csprojAssemblyReference.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_Content.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.lref
src/student-enrolment-system/obj/project.nuget.cache
src/student-enrolment-system/obj/student-enrolment-system.csproj.nuget.dgspec.json
src/student-enrolment-system/obj/Debug/net5.0-windows/App.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/MainWindow.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.assets.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.csprojAssemblyReference.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_Content.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.lref
src/student-enrolment-system/obj/project.nuget.cache
src/student-enrolment-system/obj/student-enrolment-system.csproj.nuget.dgspec.json
src/student-enrolment-system/obj/Debug/net5.0-windows/App.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/MainWindow.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.assets.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.csprojAssemblyReference.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_Content.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.lref
src/student-enrolment-system/obj/project.nuget.cache
src/student-enrolment-system/obj/student-enrolment-system.csproj.nuget.dgspec.json
src/student-enrolment-system/obj/Debug/net5.0-windows/App.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/MainWindow.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.assets.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.csprojAssemblyReference.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_Content.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.lref
src/student-enrolment-system/obj/project.nuget.cache
src/student-enrolment-system/obj/student-enrolment-system.csproj.nuget.dgspec.json
src/student-enrolment-system/obj/Debug/net5.0-windows/App.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/MainWindow.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.assets.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.csprojAssemblyReference.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_Content.g.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.lref
src/student-enrolment-system/obj/project.nuget.cache
src/student-enrolment-system/obj/student-enrolment-system.csproj.nuget.dgspec.json
src/student-enrolment-system/obj/student-enrolment-system.csproj.nuget.g.props
src/student-enrolment-system/obj/project.assets.json
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_Content.g.i.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.genruntimeconfig.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.GeneratedMSBuildEditorConfig.editorconfig
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.dll
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.csproj.CopyComplete
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.AssemblyInfoInputs.cache
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.AssemblyInfo.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/MainWindow.g.i.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/apphost.exe
src/student-enrolment-system/obj/Debug/net5.0-windows/App.g.i.cs
src/student-enrolment-system/obj/Debug/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/student-enrolment-system/bin/Debug/net5.0-windows/zh-Hant/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/zh-Hant/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/zh-Hant/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/zh-Hant/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/zh-Hant/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/zh-Hans/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/zh-Hans/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/zh-Hans/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/zh-Hans/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/zh-Hans/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/xunit.runner.visualstudio.dotnetcore.testadapter.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/xunit.runner.utility.netcoreapp10.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/xunit.runner.reporters.netcoreapp10.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/xunit.execution.dotnet.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/xunit.core.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/xunit.assert.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/xunit.abstractions.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/tr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/tr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/tr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/tr/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/tr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/testhost.exe
src/student-enrolment-system/bin/Debug/net5.0-windows/testhost.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/System.Data.SqlClient.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/student-enrolment-system.runtimeconfig.json
src/student-enrolment-system/bin/Debug/net5.0-windows/student-enrolment-system.runtimeconfig.dev.json
src/student-enrolment-system/bin/Debug/net5.0-windows/student-enrolment-system.pdb
src/student-enrolment-system/bin/Debug/net5.0-windows/student-enrolment-system.exe
src/student-enrolment-system/bin/Debug/net5.0-windows/student-enrolment-system.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/student-enrolment-system.deps.json
src/student-enrolment-system/bin/Debug/net5.0-windows/runtimes/win/lib/netcoreapp2.1/System.Data.SqlClient.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/runtimes/win-x86/native/sni.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/runtimes/win-x64/native/sni.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/runtimes/win-arm64/native/sni.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/runtimes/unix/lib/netcoreapp2.1/System.Data.SqlClient.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ru/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ru/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ru/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ru/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ru/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ref/student-enrolment-system.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/pt-BR/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/pt-BR/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/pt-BR/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/pt-BR/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/pt-BR/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/pl/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/pl/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/pl/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/pl/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/pl/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/NuGet.Frameworks.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/Newtonsoft.Json.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/Microsoft.VisualStudio.TestPlatform.ObjectModel.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/Microsoft.VisualStudio.TestPlatform.Common.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/Microsoft.VisualStudio.CodeCoverage.Shim.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/Microsoft.TestPlatform.Utilities.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/Microsoft.TestPlatform.PlatformAbstractions.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/Microsoft.TestPlatform.CrossPlatEngine.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/Microsoft.TestPlatform.CoreUtilities.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/Microsoft.TestPlatform.CommunicationUtilities.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ko/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ko/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ko/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ko/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ko/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ja/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ja/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ja/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ja/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/ja/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/it/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/it/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/it/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/it/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/it/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/fr/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/fr/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/fr/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/fr/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/fr/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/es/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/es/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/es/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/es/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/es/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/de/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/de/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/de/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/de/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/de/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/cs/Microsoft.VisualStudio.TestPlatform.ObjectModel.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/cs/Microsoft.VisualStudio.TestPlatform.Common.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/cs/Microsoft.TestPlatform.CrossPlatEngine.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/cs/Microsoft.TestPlatform.CoreUtilities.resources.dll
src/student-enrolment-system/bin/Debug/net5.0-windows/cs/Microsoft.TestPlatform.CommunicationUtilities.resources.dll
src/student-enrolment-system/.vs/ProjectSettings.json
src/student-enrolment-system/.vs/slnx.sqlite
src/student-enrolment-system/.vs/student-enrolment-system/DesignTimeBuild/.dtbcache.v2
src/student-enrolment-system/.vs/student-enrolment-system/v16/.suo
src/student-enrolment-system/.vs/VSWorkspaceState.json
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system_MarkupCompile.i.cache
src/student-enrolment-system/obj/Release/net5.0-windows/.NETCoreApp,Version=v5.0.AssemblyAttributes.cs
src/student-enrolment-system/obj/Release/net5.0-windows/App.g.cs
src/student-enrolment-system/obj/Release/net5.0-windows/MainWindow.g.cs
src/student-enrolment-system/obj/Release/net5.0-windows/student-enrolment-system.AssemblyInfo.cs
src/student-enrolment-system/obj/Release/net5.0-windows/student-enrolment-system.AssemblyInfoInputs.cache
src/student-enrolment-system/obj/Release/net5.0-windows/student-enrolment-system.assets.cache
src/student-enrolment-system/obj/Release/net5.0-windows/student-enrolment-system.GeneratedMSBuildEditorConfig.editorconfig
src/student-enrolment-system/obj/Release/net5.0-windows/student-enrolment-system_Content.g.cs
src/student-enrolment-system/obj/Release/net5.0-windows/student-enrolment-system_MarkupCompile.cache
src/student-enrolment-system/obj/Release/net5.0-windows/student-enrolment-system_MarkupCompile.lref
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.designer.runtimeconfig.json
src/student-enrolment-system/obj/Debug/net5.0-windows/student-enrolment-system.designer.deps.json
